version: 2

jobs:
 build:
  docker:
   - image: holochain/holonix:latest
  steps:
   - checkout
   - run: nix-shell --run l3h-test
 linux_bench:
   docker:
     - image: debian:10.1-slim
   resource_class: small
   working_directory: ~/repo
   steps:
     - checkout
     - run: |
         apt-get update && apt-get install -y --no-install-recommends git curl ca-certificates build-essential make pkg-config libssl-dev
         curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain none
         export PATH=$HOME/.cargo/bin:$PATH
         MAKE_ENV=local make benchmarks
 macos:
  macos:
   xcode: "10.2.0"
  steps:
   - checkout
   - run:
      name: tests via nix
      command: |
       curl https://nixos.org/nix/install | sh
       . /Users/distiller/.nix-profile/etc/profile.d/nix.sh
       # same as linux from here
       nix-shell --run echo
       nix-shell --run l3h-test
 macos_bench:
  macos:
   xcode: "10.2.0"
  steps:
   - checkout
   - run:
      name: macos benchmarks
      command: |
       curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain none
       export PATH=$HOME/.cargo/bin:$PATH
       MAKE_ENV=local make benchmarks

workflows:
 version: 2
 tests:
  jobs:
   - build
#   - linux_bench
   - macos
#   - macos_bench
